@charset "utf-8";

/* CSS Document */

body,
div,
p,
h1 {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: "\5FAE\x8F6F\6B63\9ED1\4F53", "Microsoft JhengHei", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    background: url(../img/fullbg.jpg);
}

.page {
    display: none;
    position: absolute;
    z-index: 10;
    width: 768px;
    height: 1024px;
    overflow: hidden;
}

.page.swiper-container-vertical,
.page.swiper-container-horizontal {
    display: block;
}

.pageview {
    overflow: hidden;
    background-repeat: no-repeat;
}

.pageview * {
    overflow-x: hidden;
}

.pageContent {}

.bgmove {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
img {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}


/* preloader */

#jpreContent .loader {
    position: relative;
    width: 100%;
    height: 54px;
    margin: auto;
    left: 0;
    bottom: 0;
}

#jpreContent .loader span {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 100%;
    height: 0%;
    background: url(../img/preload.png) center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#jpreContent .loader img {
    width: 100%;
    margin: auto;
    left: 0;
    bottom: 0;
}

.abs {
    position: absolute;
}

.hide {
    display: none;
}

.rel {
    position: absolute;
    top: 0;
    left: 0;
    width: 768px;
    height: 1024px;
}

.music_controls {
    width: 68px;
    height: 90px;
    position: absolute;
    top: 0;
    right: 171px;
    z-index: 100;
    cursor: pointer;
}

.music_controls img {
    width: 100%;
    height: 100%;
}

.prev {
    cursor: pointer;
    bottom: 0;
    left: 0;
}

.prev img {
    width: 100%;
    height: 100%;
}

.next,
.next1 {
    cursor: pointer;
    top: 0;
    right: 0;
}

.next img,
.next1 img {
    width: 100%;
    height: 100%;
}

.bottomlogo {
    bottom: 0;
    right: 0;
}

.bottomlogo img {
    width: 100%;
    height: 100%;
}

.page4 .a4 {
    top: 255px;
    left: 293px;
    height: 164px;
    width: 30px;
}

.page4 .b4 {
    top: 235px;
    left: 623px;
    height: 184px;
    width: 30px;
}

.page4 .c4 {
    top: 608px;
    left: 293px;
    height: 176px;
    width: 30px;
}

.page4 .d4 {
    top: 600px;
    left: 623px;
    height: 188px;
    width: 30px;
}

.bot {
    bottom: 0px;
    position: absolute;
}

.qrcode {
    top: 750px;
    left: 320px;
}

.qrcode a {
    display: block;
}

#jpreSlide {
    max-width: 300px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.circle {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    right: 55px;
    top: 44px;
    margin-top: -5px;
    z-index: 1000;
    overflow: initial;
}

.circle::before,
.circle::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22px;
    height: 22px;
    margin-top: -11px;
    margin-left: -11px;
    border: 2px solid #56b2e0;
    border-radius: 50%;
}

.circle::after {
    opacity: 0;
    -webkit-animation: pulsesss 1.5s ease-out both infinite;
    -moz-animation: pulsesss 1.5s ease-out both infinite;
    animation: pulsesss 1.5s ease-out both infinite;
}

@-webkit-keyframes pulsesss {
    0% {
        opacity: 0.4;
        -webkit-transform: scale(1)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5)
    }
}

@-moz-keyframes pulsesss {
    0% {
        opacity: 0.4;
        -moz-transform: scale(1)
    }
    100% {
        opacity: 0;
        -moz-transform: scale(2.5)
    }
}

@keyframes pulsesss {
    0% {
        opacity: 0.4;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale( 2.5);
        transform: scale(2.5)
    }
}

.music_circle {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: 155px;
    top: -5px;
    margin-top: 0;
    z-index: 0;
    overflow: initial;
}

.music_circle::before,
.music_circle::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
}

.music_circle::after {
    opacity: 0;
    -webkit-animation: pulsesss1 1.5s ease-out both infinite;
    -moz-animation: pulsesss1 1.5s ease-out both infinite;
    animation: pulsesss1 1.5s ease-out both infinite;
}

@-webkit-keyframes pulsesss1 {
    0% {
        opacity: 0.4;
        -webkit-transform: scale(1)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5)
    }
}

@-moz-keyframes pulsesss1 {
    0% {
        opacity: 0.4;
        -moz-transform: scale(1)
    }
    100% {
        opacity: 0;
        -moz-transform: scale(1.5)
    }
}

@keyframes pulsesss1 {
    0% {
        opacity: 0.4;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale( 1.5);
        transform: scale(1.5)
    }
}

.moveChart3a {
    -webkit-animation-name: moveChart3a;
    animation-name: moveChart3a;
}

@-webkit-keyframes moveChart3a {
    from {
        opacity: 0;
        left: 123px;
    }
    0% {
        opacity: 0;
        left: 123px;
    }
    25%,
    40% {
        opacity: 0.7;
        left: 183px;
    }
    to {
        opacity: 0.7;
        left: 183px;
    }
}

@-moz-keyframes moveChart3a {
    from {
        opacity: 0;
        left: 123px;
    }
    0% {
        opacity: 0;
        left: 123px;
    }
    25%,
    40% {
        opacity: 0.7;
        left: 183px;
    }
    to {
        opacity: 0.7;
        left: 183px;
    }
}

@keyframes moveChart3a {
    from {
        opacity: 0;
        left: 123px;
    }
    0% {
        opacity: 0;
        left: 123px;
    }
    25%,
    40% {
        opacity: 0.7;
        left: 183px;
    }
    to {
        opacity: 0.7;
        left: 183px;
    }
}

.changeChart3a {
    -webkit-animation-name: changeChart3a;
    animation-name: changeChart3a;
}

@-webkit-keyframes changeChart3a {
    0%,
    40% {
        height: 100%;
        background: #797979;
    }
    50%,
    100% {
        height: 73%;
        background: #3490C1;
    }
}

@-moz-keyframes changeChart3a {
    0%,
    40% {
        height: 100%;
        background: #797979;
    }
    50%,
    100% {
        height: 73%;
        background: #3490C1;
    }
}

@keyframes changeChart3a {
    0%,
    40% {
        height: 100%;
        background: #797979;
    }
    50%,
    100% {
        height: 73%;
        background: #3490C1;
    }
}

.moveChart3b {
    -webkit-animation-name: moveChart3b;
    animation-name: moveChart3b;
}

@-webkit-keyframes moveChart3b {
    from {
        opacity: 0;
        left: 332px;
    }
    0% {
        opacity: 0;
        left: 332px;
    }
    25%,
    40% {
        opacity: 0.7;
        left: 392px;
    }
    to {
        opacity: 0.7;
        left: 392px;
    }
}

@-moz-keyframes moveChart3b {
    from {
        opacity: 0;
        left: 332px;
    }
    0% {
        opacity: 0;
        left: 332px;
    }
    25%,
    40% {
        opacity: 0.7;
        left: 392px;
    }
    to {
        opacity: 0.7;
        left: 392px;
    }
}

@keyframes moveChart3b {
    from {
        opacity: 0;
        left: 332px;
    }
    0% {
        opacity: 0;
        left: 332px;
    }
    25%,
    40% {
        opacity: 0.7;
        left: 392px;
    }
    to {
        opacity: 0.7;
        left: 392px;
    }
}

.changeChart3b {
    -webkit-animation-name: changeChart3b;
    animation-name: changeChart3b;
}

@-webkit-keyframes changeChart3b {
    0%,
    40% {
        height: 48%;
        background: #797979;
    }
    50%,
    100% {
        height: 100%;
        background: #3490C1;
    }
}

@-moz-keyframes changeChart3b {
    0%,
    40% {
        height: 48%;
        background: #797979;
    }
    50%,
    100% {
        height: 100%;
        background: #3490C1;
    }
}

@keyframes changeChart3b {
    0%,
    40% {
        height: 48%;
        background: #797979;
    }
    50%,
    100% {
        height: 100%;
        background: #3490C1;
    }
}

.moveChart3c {
    -webkit-animation-name: moveChart3c;
    animation-name: moveChart3c;
}

@-webkit-keyframes moveChart3c {
    from {
        opacity: 0;
        left: 538px;
    }
    0% {
        opacity: 0;
        left: 538px;
    }
    25%,
    40% {
        opacity: 0.7;
        left: 600px;
    }
    to {
        opacity: 0.7;
        left: 600px;
    }
}

@-moz-keyframes moveChart3c {
    from {
        opacity: 0;
        left: 538px;
    }
    0% {
        opacity: 0;
        left: 538px;
    }
    25%,
    40% {
        opacity: 0.7;
        left: 600px;
    }
    to {
        opacity: 0.7;
        left: 600px;
    }
}

@keyframes moveChart3c {
    from {
        opacity: 0;
        left: 538px;
    }
    0% {
        opacity: 0;
        left: 538px;
    }
    25%,
    40% {
        opacity: 0.7;
        left: 600px;
    }
    to {
        opacity: 0.7;
        left: 600px;
    }
}

.changeChart3c {
    -webkit-animation-name: changeChart3c;
    animation-name: changeChart3c;
}

@-webkit-keyframes changeChart3c {
    0%,
    40% {
        height: 44%;
        background: #797979;
    }
    50%,
    100% {
        height: 100%;
        background: #3490C1;
    }
}

@-moz-keyframes changeChart3c {
    0%,
    40% {
        height: 44%;
        background: #797979;
    }
    50%,
    100% {
        height: 100%;
        background: #3490C1;
    }
}

@keyframes changeChart3b {
    0%,
    40% {
        height: 44%;
        background: #797979;
    }
    50%,
    100% {
        height: 100%;
        background: #3490C1;
    }
}

.page5 .chart3a {
    opacity: 0;
    width: 42px;
    height: 109px;
    top: 275px;
    left: 123px;
}

.page5 .chart3a .ani {
    height: 100%;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    position: absolute;
    top: initial;
}

.page5 .chart3b {
    opacity: 0;
    width: 42px;
    height: 113px;
    top: 271px;
    left: 332px;
}

.page5 .chart3b .ani {
    height: 48%;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    position: absolute;
    top: initial;
}

.page5 .chart3c {
    opacity: 0;
    width: 42px;
    height: 113px;
    top: 271px;
    left: 332px;
}

.page5 .chart3c .ani {
    height: 48%;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    position: absolute;
    top: initial;
}

.year_out {
    -webkit-animation: year_out 4s;
    -moz-animation: year_out 4s;
    animation: year_out 4s;
}

@-webkit-keyframes year_out {
    0%,
    45% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 1;
    }
}

@-moz-keyframes year_out {
    0%,
    45% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 1;
    }
}

@keyframes year_out {
    0%,
    45% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 1;
    }
}

audio {
    visibility: hidden;
}
